@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-VariableFont_wght.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "MONTSERRAT";
  src: url("../fonts/MONTSERRAT-SEMIBOLD.TTF");

  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "MONTSERRAT";
  src: url("../fonts/MONTSERRAT-MEDIUM.TTF");
  font-size: medium;
  font-style: normal;
}
@font-face {
  font-family: "MONTSERRAT";
  src: url("../fonts/MONTSERRAT-REGULAR.TTF");
  font-weight: normal;
  font-style: normal;
}
